@font-face {
    font-family: computer-modern-serif-roman;
    src: url(./fonts/cmunrm.ttf);
}

#latexfont{
    font-family: computer-modern-serif-roman;
    color:white;
    text-decoration:none;
}

body {
    background-color: #171717;
  }

header{
    padding-top: 1%;
}

nav ul{
    display: flex;
    justify-content: space-around;
}

nav li {
    display:inline;
    padding: auto;
}

nav li a{
    color:white;
    font-size: x-large;
    text-align: center;
}

#introduction{
    border-style: dotted;
    border-color: white;
    margin: 2% 2% 2% 2%;

}

#notes{
    margin:auto;
    margin-top: 5%;
    width: 80%;
    border-style: dotted;
    border-color: aliceblue;
}